{
  "_source": [
    "title",
    "subtitle"
  ],
  {{if .From}}"from" : {{.From}},{{end}}
  {{if .Size}}"size" : {{.Size}},{{end}}
  "query": {
    "bool": {
      "must": {
        "dis_max": {
          "queries": [
            {
              "multi_match": {
                "query": "{{.Term}}",
                "type": "phrase",
                "boost": 6,
                "fields": [
                  "title^4",
                  "title.analyzed^2",
                  "subtitle^3",
                  "subtitle.analyzed^2",
                  "description"
                ]
              }
            },
            {
              "multi_match": {
                "query": "{{.Term}}",
                "type": "phrase",
                "slop": 5,
                "boost": 4,
                "fields": [
                  "title^4",
                  "title.analyzed^2",
                  "subtitle^3",
                  "subtitle.analyzed^2",
                  "description"
                ]
              }
            },
            {
              "multi_match": {
                "query": "{{.Term}}",
                "type": "best_fields",
                "fields": [
                  "title^4",
                  "title.analyzed^2",
                  "subtitle^3",
                  "subtitle.analyzed^2",
                  "description"
                ]
              }
            }
          ]
        }
      }{{if .PrintType }},
     "filter": [
       {
         "term": {
           "printType": "{{.PrintType}}"
         }
       }
     ]{{ end }}
    }
  }{{ if .Highlight }},
  "highlight": {
    "fields": {
      "title": {},
      "subtitle": {},
      "description": {}
    }
  }{{ end }}
}